{% extends "base.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url_for('static',filename='CSS/style-register.css') }}">
{% endblock %}

{% block content %}

<title>Left Sidebar</title>
<!-- Left Sidebar -->
<div class="sidebar">
    <h2>Role of User</h2><br/>
    <a href="/register_role/citizen">Citizen</a>
    <a href="/register_role/employee">Employee</a>
    <a href="/register_role/admin">Admin</a>
    <a href="/register_role/government">Government</a>
</div>

<!-- Main Content -->
<div class="main-content">
    {% block main_content %}
    {% endblock %}
</div>

<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('collapsed');
    }
</script>
    
{% endblock %}