{% extends "base.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url_for('employee.static', filename='styles.css') }}">
{% endblock %}

{% block content %}

<div class="sidebar">
    <ul>
        <li><a href = '{{ url_for("employee.taxes") }}'>Tax Data</a></li>
        <li><a href = '{{ url_for("employee.welfare_schemes") }}'>Welfare Schemes</a></li>
        <li><a href = '{{ url_for("employee.vaccinations") }}'>Vaccination Data</a></li>
        <li><a href = '{{ url_for("employee.services") }}'>Services</a></li>
        <li><a href = '{{ url_for("employee.expenditures") }}'>Expenditures</a></li>
        <li><a href = '{{ url_for("employee.assets") }}'>Assets</a></li>
        <li><a href = '{{ url_for("employee.census") }}'>Census Data</a></li>
        <li><a href = '{{ url_for("employee.environment") }}'>Environmental Data</a></li>
    </ul>
</div>

<div class="main">
{% block employee_content %}
{% endblock %}
</div>

{% endblock %}