{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('employee.static', filename='styles.css') }}">
{% endblock %}

{% block content %}
        
    {% for message in get_flashed_messages(with_categories = True) %}
    {% if message|first == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message[1] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message[1] }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    {% endif %}
    {% endfor %}

<div class="sidebar">
    <ul>
        <li><a href = "/employee/taxes">Tax Data</a></li>
        <li><a href = "/employee/welfare_schemes">Welfare Schemes</a></li>
        <li><a href = "/employee/vaccinations">Vaccination Data</a></li>
        <li><a href = "/employee/services">Services</a></li>
        <li><a href = "/employee/expenditures">Expenditures</a></li>
        <li><a href = "/employee/assets">Assets</a></li>
        <li><a href = "/employee/agriculture">Agricultural Data</a></li>
        <li><a href = "/employee/census">Census Data</a></li>
        <li><a href = "/employee/environment">Environmental Data</a></li>
    </ul>
</div>

<div class="main">
{% block employee_content %}
{% endblock %}
</div>

{% endblock %}