{% extends 'base.html' %}

{% block extra_header %}
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('government.static', filename='CSS/style-nav-tabs.css')}}">
{% endblock %}

{% block content %}

	<br>
	<h1>Government Monitor Dashboard</h1>
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-fill mb-3" id="data-navbar" role="tablist">
			<li class="nav-item active" role="presentation">
				<a class="nav-link active" id="agricultural-data-tab" role="tab" data-bs-toggle="tab" href="#agricultural-data-tabs">Agricultural Data</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="vaccination-tab" role="tab" data-bs-toggle="tab" href="#vaccination-tabs">Vaccinations</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="census-data-tab" role="tab" data-bs-toggle="tab" href="#census-data-tabs">Census Data</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" id="environmental-data-tab" role="tab" data-bs-toggle="tab" href="#environmental-data-tabs">Environmental Data</a>
			</li>
		</ul>

		<div class="tab-content" id="data1-content">
			<div class="tab-pane fade show active" id="agricultural-data-tabs">
				<table class="table table-striped table-hover" id="agricultural-data-table">
					<thead>
						<tr>
							<th scope="col">Crop</th>
							<th scope="col">Average Area (in acres) covered by the crop</th>
							<th scope="col">Total Area (in acres) covered by the crop</th>
						</tr>
					</thead>
					<tbody>
						{% for crop in crop_type %}
							<tr>
								<td>{{ crop }}</td>
								<td>{{ avg_area_acres[loop.index0] }}</td>
								<td>{{ total_area_acres[loop.index0] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="vaccination-tabs">
				Vaccinations Content
			</div>
			<div class="tab-pane fade" id="census-data-tabs">
				Census Data Content
			</div>
			<div class="tab-pane fade" id="environmental-data-tabs">
				Environmental Data Content
			</div>
		</div>
	</div>

	<script src="{{ url_for('government.static', filename='js/refresh_tabs.js')}}"></script>	

{% endblock %}