{% extends 'base.html' %}

{% block extra_header %}
	<script src = "http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('government.static', filename='CSS/styles-government.css')}}">
{% endblock %}

{% block content %}

	<br>
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-justified sidebar" id="data-navbar" role="tablist">
			<h2 role="presentation">Government Monitor Dashboard</h2>
			<li class="nav-item active" id="list-item" role="presentation">
				<a class="nav-link active" id="agricultural-data-tab" role="tab" data-bs-toggle="tab" href="#agricultural-data-tabs">Agricultural Data</a>
			</li>
			<li class="nav-item" id="list-item" role="presentation">
				<a class="nav-link" id="vaccination-tab" role="tab" data-bs-toggle="tab" href="#vaccination-tabs">Vaccinations</a>
			</li>
			<li class="nav-item" id="list-item" role="presentation">
				<a class="nav-link" id="census-data-tab" role="tab" data-bs-toggle="tab" href="#census-data-tabs">Census Data</a>
			</li>
			<li class="nav-item" id="list-item" role="presentation">
				<a class="nav-link" id="environmental-data-tab" role="tab" data-bs-toggle="tab" href="#environmental-data-tabs">Environmental Data</a>
			</li>
		</ul>

		<div class="tab-content" id="data1-content">
			<div class="tab-pane fade show active" id="agricultural-data-tabs">
				<h3>Agricultural Data</h3>
				<table class="table table-striped table-hover table-bordered border-info" id="agricultural-data-table">
					<thead>
						<tr>
							<th scope="col">Crop</th>
							<th scope="col">Average Area (in acres) covered by the crop</th>
							<th scope="col">Total Area (in acres) covered by the crop</th>
						</tr>
					</thead>
					<tbody>
						{% for crop in crop_type %}
							<tr>
								<td>{{ crop }}</td>
								<td>{{ '%0.2f' % avg_area_acres[loop.index0]|float }}</td>
								<td>{{ '%0.2f' % total_area_acres[loop.index0]|float }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
				<p id="avg-area-citizen-para">Average Area (in acres) held by a citizen in the village is {{ '%0.2f' % avg_area_acres_per_citizen|float }} </p>
				<br>
				<p id="avg-income-farmer-para">Average Income of a farmer in the village is {{ '%0.2f' % avg_income_per_farmer|float }}</p>
			</div>
			<div class="tab-pane fade" id="vaccination-tabs">
				<h3>Vaccine Types and their respective Number of Recipients</h3>
				<table class="table table-striped table-hover table-bordered border-info" id="vaccination-table">
					<thead>
						<tr>
							<th scope="col">Vaccine Type</th>
							<th scope="col">Number of Recipients</th>
						</tr>
					</thead>
					<tbody>
						{% for vaccine in vaccine_type %}
							<tr>
								<td>{{ vaccine }}</td>
								<td>{{ num_citizens[loop.index0] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
				<h3>Top 5 centers with the most number of vaccinations</h3>
				<table class="table table-striped table-hover table-bordered border-info" id="top5-centers-table">
					<thead>
						<tr>
							<th scope="col">Center</th>
						</tr>
					</thead>
					<tbody>
						{% for center in top_5_centers %}
							<tr>
								<td>{{ center }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
				<p id="atleast-one-para">Total Number of Citizens who have been administered atleast one vaccine is {{ num_citizens_vaccinated	 }}</p>
				<br>
				<p id="all-vaccines-para">Total Number of Citizens who have been administered all the available vaccine types is {{ num_citizens_vaccinated_all }}</p>
				<br>
				<p id="not-vaccinated-para">Total Number of Citizens who have not been administered any vaccine is {{ num_citizens_not_vaccinated }}</p>
			</div>
			<div class="tab-pane fade" id="census-data-tabs">
				<h3>Census Data</h3>
				<table class="table table-striped table-hover table-bordered border-info " id="census-data-table">
					<thead>
						<tr>
							<th scope="col">Year</th>
							<th scope="col">Population(Male)</th>
							<th scope="col">Population(Female)</th>
							<th scope="col">Births(Male)</th>
							<th scope="col">Births(Female)</th>
							<th scope="col">Deaths(Male)</th>
							<th scope="col">Deaths(Female)</th>
							<th scope="col">Marriages</th>
						</tr>
					</thead>
					<tbody>
						{% for year in years %}
							<tr>
								<td>{{ year }}</td>
								<td>{{ population_male[loop.index0] }}</td>
								<td>{{ population_female[loop.index0] }}</td>
								<td>{{ births_male[loop.index0] }}</td>
								<td>{{ births_female[loop.index0] }}</td>
								<td>{{ deaths_male[loop.index0] }}</td>
								<td>{{ deaths_female[loop.index0] }}</td>
								<td>{{ marriages[loop.index0] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="environmental-data-tabs">
				<h3>Information about the last 5 days recorded</h3>
				<table class="table table-striped table-hover table-bordered border-info" id="last5-environmental-table">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Air Quality Index</th>
							<th scope="col">Water Quality Index</th>
							<th scope="col">Sanitation</th>
						</tr>
					</thead>
					<tbody>
						{% for date in dates %}
							<tr>
								<td>{{ date }}</td>
								<td>{{ air_quality_index[loop.index0] }}</td>
								<td>{{ water_quality[loop.index0] }}</td>
								<td>{{ sanitation[loop.index0] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<br>
				<h3>Worst 5 days in terms of Air Quality Index ever recorded</h3>
				<table class="table table-striped table-hover table-bordered border-info" id="worst5-air-table">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Air Quality Index</th>
						</tr>
					</thead>
					<tbody>
						{% for date in air_dates %}
							<tr>
								<td>{{ date }}</td>
								<td>{{ air_quality_index_5[loop.index0] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="{{ url_for('government.static', filename='js/refresh_tabs.js')}}"></script>	

{% endblock %}