.nav-tabs {
  --nav-tabs-border-width: 1px;
  --nav-tabs-border-color: #68acf0;
  --nav-tabs-border-radius: 0.25rem;
  --nav-tabs-link-hover-border-color: #464e56;
  --nav-tabs-link-hover-bg: #2488ec;
  --nav-tabs-link-active-color: #0b2036;
  --nav-tabs-link-active-bg: #97eaa9;
  --nav-tabs-link-active-border-color: #0680fa;
  border-bottom: var(--nav-tabs-border-width) solid var(--nav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--nav-tabs-border-width));
  border: var(--nav-tabs-border-width) solid transparent;
  border-radius: var(--nav-tabs-border-radius);
  color: #1a87f4;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(--nav-tabs-link-hover-border-color);
  background-color: #76b4f1;
  color: #021425;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--nav-tabs-link-active-color);
  background-color: var(--nav-tabs-link-active-bg);
  border-color: var(--nav-tabs-link-active-border-color);
}
.nav {
  display: block;
}
#list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Container for sidebar and main content */
.container {
  font-family: Arial, sans-serif;
  display: block;
  padding-left: 0px;
  height: 100%;
}


/* Sidebar styling */
.sidebar {
  width: 240px; /* Width of the sidebar */
  background-color: #2b3035; /* Dark background */
  color: white; /* Text color */
  padding: 20px;
  padding-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh; /* Full height of the viewport */
  box-sizing: border-box; /* Include padding in width */
}


/* Tab-content styling */
.tab-content {
  margin-left: 240px; /* Same width as the sidebar */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width */
}


/* Tab-pane styling */
.tab-pane {
  padding: 5px;
  border-top: none;
}

.table {
  margin: 10px;
  padding-right: 10px;
}

