/* Container for sidebar and main content */
.container {
    font-family: Arial, sans-serif;
    display: inline;
    padding-left: 0px;
    height: 100%;
}

/* Sidebar styling */
.sidebar {
    width: 250px; /* Width of the sidebar */
    background-color: #333; /* Dark background */
    color: white; /* Text color */
    padding: 20px;
    padding-top: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh; /* Full height of the viewport */
    box-sizing: border-box; /* Include padding in width */
}

/* Sidebar links */
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

/* Hover effect for sidebar links */
.sidebar a:hover {
    background-color: #555; /* Lighten background on hover */
}

/* Main content area */
.main-content {
    margin-left: 250px;
    position: absolute;
    width: 83.5%;
    height: 100%;
    padding: 50px;
}

.collapsed {
    width: 50px; /* Collapsed width */
    overflow: hidden; /* Hide text when collapsed */
}