{% extends "base.html" %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url_for('admin.static', filename='styles.css') }}">
{% endblock %}

{% block content %}

<div class="sidebar">
    <ul>
        <li><a href = '{{ url_for("admin.approve") }}'>Approve Requests</a></li>
        <li><a href = '{{ url_for("citizen.base") }}'>Citizen</a></li>
        <li><a href = '{{ url_for("employee.base") }}'>Employee</a></li>
        <li><a href = '{{ url_for("government.dashboard") }}'>Government</a></li>
    </ul>
</div>


<div class="main">
    {% block admin_content %}
    {% endblock %}
</div>
    
{% endblock %}