{% extends 'base.html' %}

{% block extra_header %}
<link rel="stylesheet" href="{{ url_for('citizen.static',filename='styles.css') }}">
{% endblock %}

{% block content %}
<div class="sidebar">
    <h2>Citizen Dashboard</h2>
    <a href='#' class='dropdown-toggle'>Welfare Scheme</a>
    <div class="dropdown-content">
        <a href='{{ url_for("citizen.welfare_scheme", request_type='Active') }}'>Active Schemes</a>
        <a href='{{ url_for("citizen.welfare_scheme", request_type='User') }}'>My Schemes</a>
    </div>
    <a href='#' class='dropdown-toggle'>Vaccination</a>
    <div class="dropdown-content">
        <a href='{{ url_for("citizen.vaccination", request_type='Active') }}'>Active Vaccines</a>
        <a href='{{ url_for("citizen.vaccination", request_type='User') }}'>My Vaccination</a>
    </div>
    <a href='{{ url_for("citizen.taxes") }}'>Taxes</a>
    <a href='{{ url_for("citizen.service") }}'>Service</a>
</div>

<div class="main-content">
    {% block main_content %}
    {% endblock %}
</div>

<script>
    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        sidebar.classList.toggle('collapsed');
    }

    // To toggle dropdown in sidebar
    const dropdownToggle = document.querySelectorAll('.dropdown-toggle');
    dropdownToggle.forEach(toggle => {
        toggle.addEventListener('click',(event) => {
            event.preventDefault();
            const dropdownContent = toggle.nextElementSibling;
            dropdownContent.classList.toggle('active');
        });
    });
    
</script>

{% endblock %}