{% extends 'dashboard.html' %}
{% block main_content %}

<br/>
<div>
    <h1>Taxes</h1>
    <div>  
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Year</th>
                <th>Month</th>
                <th>Amount</th>
                <th>Due-Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for type in tax_type %}
            <tr>
                <th>{{ type }}</th>
                <th>{{ tax_year[loop.index0] }}</th>
                <th>{{ tax_month[loop.index0] }}</th>
                <th>{{ amount_due[loop.index0] }}</th>
                <th>{{ due_date[loop.index0] }}</th>
                <th>{{ status[loop.index0] }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}