{% extends 'base.html' %}
{% block content %}

<br/>
<div>
    <h1>Vaccinations</h1>
    <div>  
    <table>
        <thead>
            <tr>
                <th>Date Administered</th>
                <th>Vaccination Type</th>
            </tr>
        </thead>
        <tbody>
            {% for type in vaccination_type %}
            <tr>
                <th>{{ date_administered[loop.index0] }}</th>
                <td>{{ type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}