{% extends 'dashboard.html' %}
{% block main_content %}

{% if request_type == 'User' %}
<style>
    /* Adjust column widths */
    th:nth-child(1) {
        width: 33%; /* Set width for the first column */
    }

    th:nth-child(2) {
        width: 33%; /* Set width for the second column */
    }

    th:nth-child(3) {
        width: 33%; /* Set width for the third column */
    }
</style>
{% else %}
<style>
    /* Adjust column widths */
    th:nth-child(1) {
        width: 50%; /* Set width for the second column */
    }

    th:nth-child(2) {
        width: 50%; /* Set width for the third column */
    }
</style>
{% endif %}

<br/>
<div>
    <h1>Vaccinations</h1>
    <div>  
    <table>
        <thead>
            <tr>                
                {% if request_type == 'User' %}
                <th>Date Administered</th>
                {% endif %}
                <th>Vaccine Type</th>
                <th>Center</th>
            </tr>
        </thead>
        <tbody>
            {% for type in vaccination_type %}
            <tr>
                {% if request_type == 'User' %}
                <th>{{ date_administered[loop.index0] }}</th>
                {% endif %}
                <td>{{ type }}</td>
                <td>{{ centers[loop.index0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}