{% extends 'base.html' %}
{% block content %}

<br/>
<div class="container-fluid bg-light border border-info shadow p-3 mb-5 rounded-3">
    <h1><small class="text-dark">Vaccinations</small></h1>
    <div class="p-2 mb-3 rounded">  
    <table class="table table-striped table-hover table-bordered=borderless caption-top rounded" >
        <thead>
            <tr>
                <th scope="col">Date Administered</th>
                <th scope="col">Vaccination Type</th>
            </tr>
        </thead>
        <tbody>
            {% for type in vaccination_type %}
            <tr>
                <th scope="row">{{ date_administered[loop.index0] }}</td>
                <td><a class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{ type }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}