{% extends 'dashboard.html' %}
{% block main_content %}

{% if request_type == 'User' %}
<style>
    /* Adjust column widths */
    th:nth-child(1) {
        width: 15%; /* Set width for the first column */
    }

    th:nth-child(2) {
        width: 20%; /* Set width for the second column */
    }

    th:nth-child(3) {
        width: 65%; /* Set width for the third column */
    }
</style>
{% else %}
<style>
    /* Adjust column widths */
    th:nth-child(1) {
        width: 20%; /* Set width for the second column */
    }

    th:nth-child(2) {
        width: 80%; /* Set width for the third column */
    }
</style>
{% endif %}

<br/>
<div>
    <h1>Welfare Schemes</h1>
    <div>  
    <table>
        <thead>
            <tr>
                {% if request_type == 'User' %}
                <th>Enrollment Date</th>
                {% endif %}
                <th>Scheme Title</th>
                <th>Scheme Description</th>
            </tr>
        </thead>
        <tbody>
            {% for scheme in scheme_title %}
            <tr>
                {% if request_type == 'User' %}
                <th>{{ enrollment_date[loop.index0] }}</th>
                {% endif %}
                <th>{{ scheme }}</th>
                <td>{{ scheme_description[loop.index0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}