{% extends 'base.html' %}
{% block content %}

<br/>
<div>
    <h1>Welfare Schemes</h1>
    <div>  
    <table>
        <thead>
            <tr>
                <th>Scheme Title</th>
                <th>Scheme Description</th>
            </tr>
        </thead>
        <tbody>
            {% for scheme in scheme_title %}
            <tr>
                <th>{{ scheme }}</th>
                <td>{{ scheme_description[loop.index0] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}